div#blogmodule_block_home p {
  font-size: 150%;
  font-style:italic;
}

#product-total span {
    font-size: 1em;
    text-shadow: 2px 2px grey;
}
#product-total {
    padding: 20px 10px;
    text-align: center;
    width: 100%;
    background: none #6AD4FF;
    margin:0 0 20px;
    font-size: 20px;
    color: white;
}
